* {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

body > * {
    padding: 16px 128px;
}

/* Header */
header {
    background-color: #1F2937;
    font-size: 24px;
    color: #F9FAF8;

    /* Flex container properties */
    display: flex;
    justify-content: space-between;
}

ul {
    list-style: none;

    /* Flex container properties */
    display: flex;
    gap: 16px;
    align-items: center;
}

li {
    font-size: 18px;
    color: #E5E7EB;
}

/* Media-object */
.media-object {
    /* Flex container properties */
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #1F2937;
}

.media-object .content {
    /* Flex container properties */
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-right: 128px;
    padding-top: 64px;
    padding-bottom: 64px;
}

/* Media-object main text */
.media-object .content h1 {
    font-size: 48px;
    font-weight: bolder;
    max-width: 400px;
    color: #F9FAF8;
}

/* Media-object secondary text */
.media-object .content p {
    font-size: 18px;
    color: #F9FAF8;
    max-width: 600px;
}

/* Media-object button*/
.media-object .content button {
    padding: 8px 32px;
    margin-top: 12px;
    background-color: #3882F6;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

/* Media-object placeholder image */
.media-object .placeholder-image {
    /* Flex container properties */
    display: flex;
    justify-content: center;
    align-items: center;

    height: 200px;
    width: 100%;
    max-width: 800px;
    background-color: rgb(109, 116, 125);
    color: white;
}

/* Information */
.information {
    text-align: center;
}

.information h2 {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 64px;
}

.information .card-list {
    display: flex;
    justify-content: center;
    gap: 64px;
}

.information .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.information .card img {
    min-width: 180px;
    min-height: 180px;
    border: 4px solid #3882F6;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.information .card p {
    max-width: 150px;
}

/* Quote */
.quote {
    /* Flex container properties */
    display: flex;
    justify-content: center;

    background-color: #E5E7EB;
}

.quote blockquote {
    /* Flex container properties */
    display: flex;
    flex-direction: column;
    max-width: 850px;
}

.quote .text {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
}

.quote .credit {
    align-self: flex-end;
    font-size: 24px;
    font-weight: bolder;
}

/* Call-action */
.call-action .box.background {
    /* Flex container properties */
    display: flex;
    justify-content: space-around;

    background-color: #3882F6;
    padding: 24px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.call-action.box .left-side.heading {
    color:#F9FAF8;
    font-weight: bolder;
    font-size: 24px;
}

.call-action.box .left-side.paragraph {
    color: #E5E7EB;
}

/* Footer */
footer {
    text-align: center;
    background-color: #1F2937;
    color: #F9FAF8;
}