* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style: none;

    /* Flex container properties */
    display: flex;
    gap: 16px;
}